body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Bad Script', cursive;
}
.color-title{
  color: #ffa500;
  font-family: 'Lobster', cursive;
}
.seccion-hero{
  margin-top: 60px;
  height: 50vh;
}
.white{
  color: #ffff;
}
.img-hero{
  background-image: url(../assets/img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-map{
  margin-top: 50px;
}
.main-input{
  margin-top: 20px;
  background: #000000;
  color: #ffa500;
}
.container-flex-hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-flex-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.background-black{
  background: #262626 !important;
  color:  #ffa500 !important;
}
.border-none{
  border: none  !important;
}
.options-food{
background: #ffa500;
}
.red{
  background: #DC143C;
  color: #000000 !important;
  text-align: center;
  font-size: 20px;
}
.text{
  font-size: 6px;
}
.btn-ir{
background: #ffa500;
font-family: 'Lobster', cursive;
}
#map{
  border:2px solid #ffff;
  padding: 10px;
}
.bgd-red{
  background: red;
}
/* VISTA VENTANA MEDIUM SIZE */
@media (min-width: 992px) {
  .img-hero{
    height: 100vh;
  }
/* VISTA VENTANA lARGE SIZE */
@media (min-width: 1200px) {
  img-hero{
    height: 100vh;
  }
}
