body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #000000;
  font-family: 'Bad Script', cursive;
}
.color-title{
  color: #ffa500;
  font-family: 'Lobster', cursive;
}
.seccion-hero{
  margin-top: 60px;
  height: 50vh;
}
.white{
  color: #ffff;
}
.img-hero{
  background-image: url(../assets/img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-input{
  background: #000000;
  color: #ffa500;
}
.container-flex-hero{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-flex-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.option-food{
border: 2px solid #ffa500;
}
