<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Lobster" rel="stylesheet">
	<link rel="stylesheet" href="../css/home.css">
	<title>Home</title>
</head>
<body>
  <header>
	  <nav class="navbar navbar-inverse navbar-fixed-top ">
		  <div class="container-fluid">
			  <div class="row">
				  <div class="navbar-header">
				  <!---AGREGANDO MENU HAMBURGUESA DISPONIBLE SOLO PARA VERSION MOVIL-->
				    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
						  <span class="sr-only">MENU</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!---AGREGANDO TITULO FOOD APP-->
						<h2 class="color-title"><strong>Food Map</strong></h2>
					</div>
						<!---AGREGANDO ITEMS DISPONIBLE PARA VERSION DESKTOP Y EN VERSION MOVIL DENTRO DEL MENU HAMBURGUESA-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="red"><a data-toggle="modal" data-target="#anunciar">Anuncie aquí</a></li>
						  </ul>
						</div>
					</div>
			  </div>
			</div>
		</nav>
		<!---AGREGANDO VENTANA MODAL DE ANUNCIO-->
		<div class="modal fade" id="anunciar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header red">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Publicar restaurant</h4>
					</div>
					<div class="modal-body">
					  <form>
				      <fieldset>
					      <div class="form-group">
						      <label>¿Qué tipo de restaurant?</label>
									  <select class="form-control">
										  <option>Cevichería</option>
										  <option>Comida Criolla</option>
										  <option>Comida Fusion</option>
										  <option>Canes</option>
										  <option>Pollería</option>
									  </select>
									  <br>
									<label>Ingrese nombre de restaurante</label>
									  <input type="text" class="form-control" placeholder=" ">
									<label>Ingrese dirección de restaurante</label>
										<input type="text" class="form-control" placeholder=" ">
					    </div>
					 </form>
					</div>
					<div class="modal-footer red">
						<button type="button" class="btn btn-default" data-dismiss="modal">Enviar</button>
					</div>
				</div>
			</div>
		</div>
		</header>
		<main>
			<!---AGREGANDO SECCION HERO-->
			<section class="seccion-hero img-hero">
				<div class="container">
					<h2 class="white"> <strong>En qué zona de Lima se encuentra?</strong> </h2>
					<!---AGREGANDO imagenes de mapas-->
					<div class="row image-map">
						<!---norte-->
						<div class="col-md-4 col-xs-4  img">
							<h5 class="red"> <strong>NORTE</strong></h5>
							<img src="../assets/img/mapa.jpg" class="img-responsive img-thumbnail mapNort" data-toggle="modal" data-target="#zonaNorte" id="map" alt="mapa">
							<p></p>
							<!---AGREGANDO VENTANA MODAL ZONA NORTE-->
							<div class="modal fade" id="zonaNorte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<!---HEADER MODAL-->
								<div class="modal-header red">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Lima-Norte</h4>
								</div>
								<!---BODY MODAL-->
								<div class="modal-content">
									<div class="list-group">
										<!---RESTAURANTE 1-->
										<div class="row list-group-item background-black border-none">
											<div class="col-md-8 col-xs-8">
												<img src="../assets/img/cv-nor1.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-md-4 col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/La+Choza+Nautica/@-11.9911754,-77.0821874,17z/data=!3m1!4b1!4m5!3m4!1s0x9105ce676784f3ad:0xc9f87697589d4109!8m2!3d-11.9911754!4d-77.0799987" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 2-->
										<div class="row list-group-item background-black border-none">
											<div class="col-md-8 col-xs-8">
												<img src="../assets/img/cv-nor3.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-md-4 col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/Puerto+Norte/@-12.0425321,-77.0825702,11.67z/data=!4m5!3m4!1s0x9105c8c6b29fc647:0x2929cc44fe536dc7!8m2!3d-12.0576866!4d-77.0385677" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 3-->
										<div class="row list-group-item background-black border-none">
											<div class="col-md-8 col-xs-8">
												<img src="../assets/img/crioll1.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-md-4 col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/Puerto+Norte/@-12.0425321,-77.0825702,11.67z/data=!4m5!3m4!1s0x9105c8c6b29fc647:0x2929cc44fe536dc7!8m2!3d-12.0576866!4d-77.0385677" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 4-->
										<div class="row list-group-item background-black border-none">
											<div class="col-md-4 col-xs-8">
												<img src="../assets/img/carnes2.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-md-4 col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/search/rustica/@-12.0030668,-77.0622027,15z/data=!3m1!4b1" role="button">Cómo llegar</a>
											</div>
										</div>
									</div>
									<!---FOOTER MODAL-->
									<div class="modal-footer red">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						<!---CENTRO-->
						<div class="col-md-4  col-xs-4">
							<h5 class="red"> <strong>CENTRO</strong></h5>
							<img src="../assets/img/mapa.jpg" class="img-responsive img-thumbnail mapCentro" data-toggle="modal" data-target="#zonaCentro" id="map" alt="mapa">
							<!---AGREGANDO VENTANA MODAL ZONA CENTRO--->
							<div class="modal fade" id="zonaCentro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<!---HEADER MODAL-->
								<div class="modal-header red">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Lima-Centro</h4>
								</div>
								<!---BODY MODAL-->
								<div class="modal-content">
									<div class="list-group">
										<!---RESTAURANTE 1-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/cv-nor1.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/La+Choza+Nautica/@-11.9911754,-77.0821874,17z/data=!3m1!4b1!4m5!3m4!1s0x9105ce676784f3ad:0xc9f87697589d4109!8m2!3d-11.9911754!4d-77.0799987" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 2-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/cv-nor2.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/Puerto+Norte/@-12.0425321,-77.0825702,11.67z/data=!4m5!3m4!1s0x9105c8c6b29fc647:0x2929cc44fe536dc7!8m2!3d-12.0576866!4d-77.0385677" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 3-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/crioll1.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/Puerto+Norte/@-12.0425321,-77.0825702,11.67z/data=!4m5!3m4!1s0x9105c8c6b29fc647:0x2929cc44fe536dc7!8m2!3d-12.0576866!4d-77.0385677" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 4-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/carnes2.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/search/rustica/@-12.0030668,-77.0622027,15z/data=!3m1!4b1" role="button">Cómo llegar</a>
											</div>
										</div>
									</div>
									<!---FOOTER MODAL-->
									<div class="modal-footer red">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

									</div>
								</div>
							</div>
						</div>
						<!---SUR-->
						<div class="col-md-4 col-xs-4">
							<h5 class="red"> <strong>SUR</strong></h5>
							<img src="../assets/img/mapa.jpg" class="img-responsive img-thumbnail mapSur" data-toggle="modal" data-target="#zonaSur" id="map" alt="mapa">
							<!---AGREGANDO VENTANA MODAL ZONA SUR-->
							<div class="modal fade" id="zonaSur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<!---HEADER MODAL-->
								<div class="modal-header red">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title">Lima-Sur</h4>
								</div>
								<!---BODY MODAL-->
								<div class="modal-content">
									<div class="list-group">
										<!---RESTAURANTE 1-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/cv-nor4.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/La+Choza+Nautica/@-11.9911754,-77.0821874,17z/data=!3m1!4b1!4m5!3m4!1s0x9105ce676784f3ad:0xc9f87697589d4109!8m2!3d-11.9911754!4d-77.0799987" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 2-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/fusion1.png" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/Puerto+Norte/@-12.0425321,-77.0825702,11.67z/data=!4m5!3m4!1s0x9105c8c6b29fc647:0x2929cc44fe536dc7!8m2!3d-12.0576866!4d-77.0385677" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 3-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/fusion2.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/search/chifa+palacio/@-12.094803,-77.0273838,16z/data=!3m1!4b1" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 4-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/carnes1.png" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/place/El+Tio+Mario/@-12.1492121,-77.0245594,17z/data=!3m1!4b1!4m5!3m4!1s0x9105b7ed83eb9ee7:0x7868bc183d5a97f3!8m2!3d-12.1492121!4d-77.0223707" role="button">Cómo llegar</a>
											</div>
										</div>
										<!---RESTAURANTE 5-->
										<div class="row list-group-item background-black border-none">
											<div class="col-xs-8">
												<img src="../assets/img/carnes2.jpg" class="img-responsive img-restaurant" alt="la choza nautica">
											</div>
											<div class="col-xs-4 text">
											<a class="btn btn-default btn-ir" href="https://www.google.com.pe/maps/search/rustica/@-12.0030668,-77.0622027,15z/data=!3m1!4b1" role="button">Cómo llegar</a>
											</div>
										</div>
									</div>
									<!---FOOTER MODAL-->
									<div class="modal-footer red">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				 <div class="row container-flex-hero">
					 <div class="col-xs-12">
						 <!---AGREGANDO INPUT DE BUSQUEDA POR DISTRITO-->
						 <input type="text" class="form-control main-input" placeholder="Escriba su zona">
					 </div>
				 </div>
			 </div>
			</section>
			<!---AGREGANDO DIV-LIST DE OPCIONES DE COMIDAS-->
			<div class="list-group">
				<a class="list-group-item active background-black border-none">
			    <h3>Restaurants disponibles</h3>
			  </a>
				<a role="button" id="cevicherias" href="#cevichCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Cevicherías</a>
				<div class="collapse" id="cevichCollapse">
					<div class="well red" id="foodCevich">
					</div>
				</div>
				<a role="button" id="crillos" href="#criollCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Criollos</a>
				<div class="collapse" id="criollCollapse">
					<div class="well red" id="foodCriolla">
					</div>
				</div>
				<a role="button" id="fusion" href="#fusionCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Fusión</a>
				<div class="collapse" id="fusionCollapse">
					<div class="well red" id="foodFusion">
					</div>
				</div>
				<a role="button" id="carnes" href="#carnesCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Carnes y Parrillas</a>
				<div class="collapse red" id="carnesCollapse">
					<div class="well red" id="foodCarn">
					</div>
				</div>
			</div>
		 </main>
	<!---ENLAZANDO ARCHIVOS JS-->
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/data.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>
