<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/home.css">
	<title>Home</title>
</head>
<body>
  <header>
	  <nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
			  <div class="row">
				  <div class="navbar-header">
				  <!---AGREGANDO MENU HAMBURGUESA DISPONIBLE SOLO PARA VERSION MOVIL--->
				    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
						  <span class="sr-only">MENU</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						 </button>
							 <!---AGREGANDO TITULO FOOD APP--->
							 <h2 class="color-title"><strong>Food Map</strong></h2>
						 </div>
						 <!---AGREGANDO ITEMS DISPONIBLE PARA VERSION DESKTOP Y EN VERSION MOVIL DENTRO DEL MENU HAMBURGUESA--->
						 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							 <ul class="nav navbar-nav navbar-right">
								 <li><a href="#">Busquedas guardadas</a></li>
							 </ul>
						 </div>
					 </div>
				 </div>
			 </nav>
		 </header>
		 <main>
		 	<div class="container">
				<div class="row img-hero container-flex">
					<div class="col-xs-12 main-input">
						<!---AGREGANDO INPUT DE BUSQUEDA POR DISTRITO--->
            <input type="text" class="form-control" placeholder="Escriba su distrito">
					</div>
				</div>
		 	</div>
			<!---AGREGANDO SECCION DE ITEMS POR FILTRADO--->
			<div class="container">
				<div class="row container-flex box-items">
					<div class="col-xs-4  background-image1">
					</div>
					<div class="col-xs-4  background-image2">
					</div>
					<div class="col-xs-4  background-image3">
					</div>
				</div>
		 	</div>
		 </main>

	<!---ENLAZANDO ARCHIVOS JS-->
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>
