<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Lobster" rel="stylesheet">
	<link rel="stylesheet" href="../css/home.css">
	<title>Home</title>
</head>
<body>
  <header>
	  <nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
			  <div class="row">
				  <div class="navbar-header">
				  <!---AGREGANDO MENU HAMBURGUESA DISPONIBLE SOLO PARA VERSION MOVIL--->
				    <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
						  <span class="sr-only">MENU</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!---AGREGANDO TITULO FOOD APP--->
						<h2 class="color-title"><strong>Food Map</strong></h2>
					</div>
						<!---AGREGANDO ITEMS DISPONIBLE PARA VERSION DESKTOP Y EN VERSION MOVIL DENTRO DEL MENU HAMBURGUESA--->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#">Busquedas guardadas</a></li>
						  </ul>
						</div>
			  </div>
			</div>
		</nav>
		</header>
		<main>
			<!---AGREGANDO SECCION HERO--->
			<section class="seccion-hero img-hero">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h1 class="white">¡A dónde vamos!</h1>
							<br>
						</div>
					</div>
				 <div class="row container-flex-hero">
					 <div class="col-xs-12">
						 <!---AGREGANDO INPUT DE BUSQUEDA POR DISTRITO--->
						 <input type="text" class="form-control main-input" placeholder="Escriba su distrito">
						 <!---AGREGANDO BOTON DE BUSQUEDA (por defecto DISABLED)--->
						 <button type="submit" class="btn btn-default pull-left" disabled="disabled" id="searchBtn">Buscar</button>
					 </div>
				 </div>
			 </div>
			</section>
			<!---AGREGANDO DIV-LIST DE OPCIONES DE COMIDAS--->
			<div class="list-group">
				<a class="list-group-item active background-black border-none">
			    <h3>Elija una opción</h3>
			  </a>
		    <a role="button" href="#topCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Los más top</a>
				<div class="collapse" id="topCollapse">
					<div class="well" id="foodTop">
					</div>
				</div>
				<a href="#cevichCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Cevicherías</a>
				<div class="collapse" id="cevichCollapse">
					<div class="well" id="foodCevich">
					</div>
				</div>
				<a href="#criollCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Criollos</a>
				<div class="collapse" id="criollCollapse">
					<div class="well" id="foodCriolla">
					</div>
				</div>
			  <a href="#econCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Econónicos</a>
				<div class="collapse" id="econCollapse">
					<div class="well" id="foodEconom">
					</div>
				</div>
				<a href="#fusionCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Fusión</a>
				<div class="collapse" id="fusionCollapse">
					<div class="well" id="food Fusion">
					</div>
				</div>
				<a href="#carnesCollapse" data-toggle="collapse" class="list-group-item options-food" aria-expanded="false" aria-controls="collapseExample">Carnes y Parrillas</a>
				<div class="collapse" id="carnesCollapse">
					<div class="well" id="foodCarn">
					</div>
				</div>
			</div>
		
		 </main>
	<!---ENLAZANDO ARCHIVOS JS-->
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/data.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>
